*{
	box-sizing: border-box;
	outline: none;
}

$smallScreen: 768px;
$medScreen: 925px;

// Palm tree video Broll provided by <a rel="nofollow" href="http://www.Videezy.com">Videezy</a>
//https://www.videezy.com/nature/3960-palm-trees-blowing-in-the-wind-4k

//apartments Free Stock Video Footage by <a target="_blank" href="http://www.videezy.com">Videezy.com</a>
//https://www.videezy.com/industry/4327-unfinished-building-and-the-cloouds-4k-stock-video

//City Honolulu Free Stock Videos by <a rel="nofollow" target="_blank" href="http://Videezy.com">Videezy</a>

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}


@import "partials/mainBody";
@import "partials/homeSearch";
@import "partials/nav";
@import "partials/footer"



// <button className={this.state.active} type="button">Buy</button>
// 						<button className={this.state.inactive} type="button">Rent</button>
// 						<button className={this.state.inactive} type="button">Sell</button>
// 						<button className={this.state.inactive} type="button">Zestimate</button>

